body{
	background-color:seagreen;

}
.durationline{
	margin-top:25px;
	position:relative;
  	width:75%;
  	height:20px;
 	top:6px; 
        background: linear-gradient(to right, rgba(0,100,0,0.7), rgba(0,65,0,1));
	float:left;
  	overflow:hidden;
  
}
.pointer{
  position:relative;
  bottom:0px;
  width:100%;
  height:20px;
  background-color:#000;
  transition:0.3s;
  opacity:0.6;
}



.timec {
  padding:3px;
  position:relative;
  font-size:10px;
  float:left;
  color:white;
  border-style:solid;
  border-color:darkgreen;
  border-width:1px;
  background-color:transparent;
  opacity:1;
  transition:0.3s;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  
}
.plybtn {
	width:5%;
	float:left;
	margin-left:5px;
	margin-right:5px;
	margin-top:30px;

}




.box{
  position:relative;
  display:inline-block;
  background-color:seagreen;
  width:100%;
  height:200px;
  
}

.next{
  position:relative;
  float:left;
  margin:0.1%;
  left:38%;
  top:100px;
}

.volume{
	margin-top:31px;
	float:left;
  left-height:10px;
  position:relative;
  width:10%;
  height:20px;
  background-color:black;
}
.volumepointer{
  transition:0.5s;
  height:20px;
  width:100%;
     background: linear-gradient(to right, rgba(0,100,0,0.7), rgba(0,65,0,1));
}

img {
  margin-top:3px;
  width:10px;
  height:10px;
}
.volimg {
  width:25px;
  height:25px;
  left:88%;
  position:relative;
  
}  
.volimgimg{
  position:relative;
  bottom:30px;
  width:25px;
  height:25px;
}

.nowplay{
	float:top;
	font-size:10px;
  width:50%;
  padding:5px;
  position:relative;
 
  left:1%;
  color:white;
  
}

.list {
  margin-top:1px;
  background-color:#444;
  padding:10px;
  background:rgb(0,100,0)
  
  
}

.list:hover{
	border-radius:10px;
	transform:scale(1.01);
	transition:1s;
  background-color:#111;

}
hr {
  margin-bottom:30px;
  background-color:white;
  height:1px;
}
a {
  text-decoration:none;


}



b {
  color:white;
  font-size:10px;

}

.aline{
	border-radius:10px;
	top:40px;	
	position:relative;
	margin-bottom:5px;
	
height:1px;
width:600px;
background-color:white;

}

.plybtn1{
	width:5%;
	margin-top:30px;
	margin-left:5px;
	margin-right:5px;
	float:left;	
}


