body{
	background-color:seagreen;

}
.durationline{
	border-style:solid;
	border-width:1px;
	border-radius:1px;
	border-color:gold;
	margin-top:25px;
	position:relative;
  	width:75%;
  	height:20px;
 	top:6px; 
        background: linear-gradient(to right, rgba(0,100,0,0.7), rgba(0,65,0,1));
	float:left;
  	overflow:hidden;
  
}
.pointer{
  position:relative;
  bottom:0px;
  width:100%;
  height:20px;
  background-color:green;
  transition:0.3s;
  opacity:1;
}



.timec {
  padding:3px;
  position:relative;
  font-size:10px;
  text-align:center;
  float:left;
  color:black;
  border-style:solid;
  border-color:darkgreen;
  border-width:0px;
  background-color:transparent;
  opacity:1;
  transition:0.3s;
  border-top-right-radius:5px;
  border-bottom-right-radius:5px;
  
}
.plybtn {
	border-style:solid;
	border-radius:5px;
	border-color:gold;
	border-width:1px;
	padding:5px;
	width:20px;
	height:20px;
	float:left;
	margin-top:25px;
	margin-right:5px;
	margin-left:30px;
}

.plybtn:hover{
	border-radius:30%;
	background-color:gold;
	transition:0.5s;


}
.plybtn:active{
	border-radius:100%;

}

.loopbtn {
	border-style:solid;
	border-radius:5px;
	border-color:gold;
	border-width:1px;
        padding:5px;
        width:20px;
        height:20px;
        float:left;
        margin-top:25px;
        margin-right:10px;
	background-color:transparent;
}

.loopbtn:hover{
        border-radius:30%;
        background-color:gold;
        transition:0.5s;


}



.volbtn {
        border-style:solid;
        border-radius:5px;
        border-color:gold;
        border-width:1px;
   	padding:5px; 
        width:20px;
        height:20px;
        float:left;
        margin-top:25px;
        margin-right:10px;
	margin-left:10px;
        background-color:transparent;
}

.volbtn:hover{
        border-radius:30%;
        background-color:gold;
        transition:0.5s;


}






.box{
	border-radius:10px;
  position:relative;
  display:inline-block;
  background:rgb(0,100,0);
  width:100%;
  height:150px;
  
}

.next{
  position:relative;
  float:left;
  margin:0.1%;
  left:38%;
  top:100px;
}

.volume{
	border-style:solid;
	border-width:1px;
	border-color:gold;
	margin-top:31px;
	float:left;
  left-height:10px;
  position:relative;
  width:100px;
  height:20px;
  background-color:black;
}
.volumepointer{
  transition:0.5s;
  height:20px;
  width:100px;
     background-color:green;
}

img {
  margin-top:3px;
  width:10px;
  height:10px;
}
.volimg {
  width:25px;
  height:25px;
  left:88%;
  position:relative;
  
}  
.volimgimg{
  position:relative;
  bottom:30px;
  width:25px;
  height:25px;
}

.nowplay{
	float:top;
	font-size:10px;
  width:50%;
  padding:5px;
  position:relative;
 
  left:1%;
  color:black;
  
}

.list {
  margin-top:1px;
  background-color:#444;
  padding:10px;
  background:rgb(0,100,0); 
  
}

.list:hover{
	border-radius:1px;
	transform:scale(1.01);
	transition:0.5s;
  	background-color:seagreen;
	border-style:solid;
	border-color:gold;
	border-top-width:0px;
	border-left-width:0px;
	border-right-width:0px;

}
hr {
  margin-bottom:30px;
  background-color:white;
  height:5px;
}
a {
  text-decoration:none;

}



b {
  color:black;
  font-size:10px;

}

.aline{
	border-radius:10px;
	top:40px;	
	position:relative;
	margin-bottom:5px;
	height:0px;
	width:100%;
	background-color:gold;

}

.plybtn1{
	height:10px;
	padding:5px;
	width:25px;
	margin-top:30px;
	margin-left:20px;
	margin-right:5px;
	float:left;	
}


.tooltip{
	opacity:0;
	color:white;
	position:absolute;
	background-color:black;
	padding:5px;
	font-size:10px;
	text-align:center;
	border-color:gold;
	border-width:1px;
	border-style:solid;



}

